#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	# No build needed, using pre-compiled binary

override_dh_auto_install:
	mkdir -p debian/puls-g3/usr/bin
	cp target/x86_64-unknown-linux-musl/release/puls-g3 debian/puls-g3/usr/bin/

